<div class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem suscipit necessitatibus eveniet
			iusto commodi mollitia earum dignissimos ipsum sapiente. Modi temporibus vitae perspiciatis
			architecto sequi totam? Ipsa vitae blanditiis ea!
		</p>
	</div>
</div>