<footer class="text-center text-lg-start bg-light text-muted">
  	<div class="container-fluid p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		<div class="container">
			<p class="float-right">
				<a href="#" class="text-light">Back to top</a>
			</p>
			<p>Notes App is &copy; gabriellopez.dev, but please download and customize it for yourself!</p>
		</div>
	</div>
</footer>